{{ if isset .Site.Params.widgets "search" }}
{{ if .Site.Params.widgets.search }}
<div class="mb-4">
    <h3 class="h4 lined text-uppercase mb-4">{{ i18n "searchTitle" }}</h3>

    <div class="panel-body">
        <form action="//google.com/search" method="get" accept-charset="UTF-8" role="search">
            <div class="input-group">
                <input type="search" name="q" class="form-control" placeholder="{{ i18n "searchTitle" }}">
                <input type="hidden" name="sitesearch" value="{{ "/" | absURL }}">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>
{{ end }}
{{ end }}
