<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div class="wide" id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <section class="py-5">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container py-4">
              <div class="row gy-4">
                <div class="col-lg-12">
                  {{ if isset .Params "lead" }}
                  <p class="lead mb-5">{{ .Params.lead }}</p>
                  {{ end }}
                    <div>
                      {{ .Content }}
                    </div>

                </div>

              </div>
              <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </section>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
