<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div class="wide" id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <section class="py-5">
            <div class="container py-4">
                <div class="row gy-5">
                    <div class="col-lg-9">

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
                        {{ range $paginator.Pages }}
                        <!-- BLOG LISTING ITEM-->
                        <div class="row gy-4 mb-5">
                            <div class="col-lg-4"><a class="d-block" href="{{ .Permalink }}">
                                {{ if .Params.banner }}
                                <img  class="img-fluid" src="{{ .Params.banner | relURL }}" alt="">
                                {{ else }}
                                <img class="img-fluid" src="{{ " img/placeholder.png" | relURL }}" alt="">
                                {{ end }}
                            </div>
                            <div class="col-lg-8">
                                <h2 class="h3 text-uppercase mb-3"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                <div class="row gy-2 mb-4">
                                    <div class="col-xl-6">
                                        <p class="text-sm text-uppercase mb-0 fw-light text-muted">
                                            {{ if isset .Params "authors" }}
                                                {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}
                                                <a class="fw-normal" href="{{ (printf " %s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                                                {{ end }}
                                            {{ if isset .Params "categories" }}
                                                {{ if gt (len .Params.categories) 0 }}
                                                    {{ i18n "publishedIn" }} {{ range $index, $category := .Params.categories }}{{ if $index }}, {{ end }}
                                                    <a class="fw-normal" href="{{ " categories/" | relURL }}{{ . | urlize | lower }}">{{ $category }}</a>{{ end }}
                                            {{ end }}
                                            {{ end }}
                                        </p>
                                    </div>
                                    {{ if isset .Params "date" }}
                                    {{ $createdAt := .Date.Format .Site.Params.date_format }}
                                    {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October"
                                    "November" "December" }}
                                    {{ $createdAt = replace $createdAt $month (i18n $month) }}
                                    {{ end }}
                                    <div class="col-xl-6">
                                        <p class="text-xl-end text-sm mb-0 text-muted">
                                            <a class="text-muted me-3" href="{{ .Permalink }}"><i class="far fa-calendar me-1"></i> {{ $createdAt }}</a>
                                        </p>
                                    </div>
                                    {{ end }}
                                </div>
                                <p class="text-sm text-gray-700 mb-3">{{ .Summary }}</p>
                                <p class="text-end"><a class="btn btn-outline-primary" href="blog-post.html">{{ i18n "continueReading" }}</a></p>
                            </div>
                        </div>
                    {{ end }}

                    <!-- LISTING PAGER    -->
                    <div class="py-4 border-top">
                        <div class="d-flex align-items-center justify-content-between">
                            {{ if .Paginator.HasPrev }}
                                <a class="btn btn-outline-primary disabled" href="{{ .Paginator.Prev.URL | relURL }}"><i class="fas fa-long-arrow-alt-left me-2"></i>{{ i18n "older" }}
                            {{ else }}
                                    <a class="btn btn-outline-primary disabled" href="#"><i class="fas fa-long-arrow-alt-left me-2"></i>{{ i18n "older" }}
                            {{ end }}

                            {{ if .Paginator.HasNext }}
                                <a class="btn btn-outline-primary" href="{{ .Paginator.Next.URL | relURL }}">{{ i18n "newer" }}<i class="fas fa-long-arrow-alt-right ms-2"></a>
                            {{ else }}
                                <a class="btn btn-outline-primary disabled" href="#">{{ i18n "newer" }}<i class="fas fa-long-arrow-alt-right ms-2"></i></a>
                            {{ end }}
                            </a>
                        </div>
                    </div>
                </div>

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN *** -->

                <div class="col-lg-3">

                    <!-- *** MENUS AND WIDGETS *** -->

                    {{ partial "sidebar.html" . }}

                    <!-- *** MENUS AND FILTERS END *** -->

                </div>

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
