<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div class="wide" id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <!-- BLOG POST SECTION -->
        <section class="py-5">
          <div class="container py-4">
            <div class="row gy-5">
              <div class="col-lg-9">
                <!-- Post content-->
                {{ if or .Params.authors .Params.date }}
                <p class="text-muted text-uppercase mb-4 text-end text-sm">
                  {{ if isset .Params "authors" }}
                    {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                  {{ end }}
                  {{ if and .Params.authors .Params.date }} | {{ end }}
                  {{ if .Params.date }}
                    {{ $createdAt := .Date.Format .Site.Params.date_format }}
                    {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                        {{ $createdAt = replace $createdAt $month (i18n $month) }}
                    {{ end }}
                    {{ $createdAt }}
                  {{ end }}
                </p>
                {{ end }}
                {{ .Content }}

                {{ if .Site.DisqusShortname }}
                <div class="py-5 mb-5 border-top border-bottom">
                  {{ template "_internal/disqus.html" . }}
                </div>
                {{ end }}
              </div>
              <div class="col-lg-3">
                {{ partial "sidebar.html" . }}
              </div>
            </div>
          </div>
        </section>

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
