{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<!-- HERO SLIDER SECTION-->
<section class="text-white bg-cover bg-center primary-overlay overlay-dense"
    style="background: url('img/photogrid.jpg') repeat">
    <div class="overlay-content py-5">
        <div class="container py-4">
            <div class="visually-hidden">
                <input id="hero-slider-auto-play" value="{{ default true .Site.Params.CarouselHomepage.auto_play }}" />
                <input id="hero-slider-slide-speed" value="{{ default 3000 .Site.Params.CarouselHomepage.slide_speed }}" />
                <input id="hero-slider-pagination-speed" value="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}" />
            </div>
            <!-- Hero slider-->
            <div class="swiper-container homepage-slider">
                <div class="swiper-wrapper">
                    {{ range sort .Site.Data.carousel "weight" }}
                    <!-- Hero Slide-->
                    <div class="swiper-slide h-auto mb-5">
                        <div class="row gy-5 h-100 align-items-center">
                            <div class="col-lg-5 text-lg-end"><img class="ml-auto img-fluid" src="img/logo.png" alt="">
                                <h1 class="text-uppercase">{{ .title }}</h1>
                                {{ .description | safeHTML }}
                            </div>
                            <div class="col-lg-7"><img class="img-fluid" src="{{ .image }}" alt=""></div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="swiper-pagination swiper-pagination-light"></div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
