<section class="py-5">
    <div class="container py-4">
        <div class="row gy-5">
            <div class="col-lg-8">
                {{ .Content }}
                {{ if isset .Site.Params "formspree_action" }}
                <!-- CONTACT FORM-->
                <h2 class="lined text-uppercase mb-4">{{ i18n "contactForm" }}</h2>
                <form method="post" action="{{ .Site.Params.formspree_action }}">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="name">{{ i18n "contactName" }}</label>
                            <input class="form-control" id="name" type="text" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="emailaddress">{{ i18n "contactMail" }}</label>
                            <input class="form-control" id="emailaddress" type="email" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="form-label" for="message">{{ i18n "contactMessage" }}</label>
                            <textarea class="form-control" id="message" rows="4" required></textarea>
                        </div>
                        {{ if and .Site.Params.enableRecaptchaInContactForm .Site.Params.googleRecaptchaKey }}
                        <div class="col-sm-12">
                            <div class="g-recaptcha" data-sitekey="{{ .Site.Params.googleRecaptchaKey }}"></div>
                            <br />
                        </div>
                        {{ end }}
                        <div class="col-md-12 text-center">
                            <button class="btn btn-outline-primary" type="submit"><i
                                    class="far fa-envelope me-2"></i>{{ i18n "contactSend" }}</button>
                        </div>
                    </div>
                </form>
                {{ end }}
            </div>
            <!-- CONTACT INFO-->
            <div class="col-lg-4">
                {{ if isset .Site.Params "address" }}
                <h3 class="text-uppercase mb-3">{{ i18n "contactAddrTitle" }}</h3>
                {{ .Site.Params.address | safeHTML }}
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ partial "map.html" . }}
