{{ if .Site.Params.enableOpenStreetMaps }}
  {{ if isset .Site.Params "latitude" }}
    {{ if isset .Site.Params "longitude" }}
        <!-- MAP SECTION-->
        <div class="visually-hidden">
          <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
          <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
          <input id="gmap-marker" value="{{ "img/marker.png" | relURL }}" />
        </div>
        <div class="border-top border-primary" id="contactMap"></div>
    {{ end }}
  {{ end }}
{{ end }}
