<!-- Navbar Sticky-->
<header class="nav-holder make-sticky">
  <div class="navbar navbar-light bg-white navbar-expand-lg py-0" id="navbar">
    <div class="container py-3 py-lg-0 px-lg-0">
      <!-- Navbar brand--><a class="navbar-brand" href="{{ "/" | relURL }}">
        {{ if default false .Site.Params.disabled_logo }}
        <h4>{{ .Site.Params.logo_text }}</h4>
        {{ else }}
        <img class="d-none d-md-inline-block" src="{{ .Site.Params.logo | relURL }}" alt="{{ .Title }} logo">
        <img class="d-inline-block d-md-none" src="{{ .Site.Params.logo_small | relURL }}" alt="{{ .Title }} logo">
        {{ end }}
        <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span></a>
      <!-- Navbar toggler-->
      <button class="navbar-toggler text-primary border-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navigationCollapse" aria-controls="navigationCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">{{ i18n "navToggle" }}</span>
        <i class="fas fa-align-justify"></i>
      </button>
      <!-- Collapsed Navigation    -->
      <div class="collapse navbar-collapse" id="navigationCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {{ $current := . }}

          {{ range .Site.Menus.main.ByWeight }}
          {{ $topLevel := replace .URL "/" "" }}
          {{ $active := "" }}

          {{ if eq $current.RelPermalink .URL }}
            {{ $active = "active" }}
          {{ end }}

          {{ if eq $current.Type $topLevel }}
            {{ $active = "active" }}
          {{ end }}

          {{ if and (or (eq $current.RelPermalink .URL) (eq "term" $current.Kind)) (in (slice "page" "term") $current.Kind) }}
            {{ range (split .URL "/") }}
              {{ if eq "blog" . }}
                {{ $active = "active" }}
              {{ end }}
            {{ end }}
          {{ end }}

          {{ if .HasChildren }}
            <!-- Check if the first child marks a menu section identifier -->
            {{ $hasSections := (hasPrefix (index .Children 0).Identifier "section.") }}
            <li class="nav-item dropdown{{ if $hasSections }} menu-large{{ end }}"><a class="nav-link dropdown-toggle {{ $active }}" id="{{ .Name | urlize}}Dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ .Name }}</a>
              {{ if $hasSections }}
                <ul class="dropdown-menu megamenu p-4" aria-labelledby="{{ .Name | urlize}}Dropdown">
                  <li>
                    <div class="row">
                      {{ if ne .URL "" }}
                      <div class="col-lg-6"><img class="img-fluid d-none d-lg-block" src="{{ .URL }}" alt=""></div>
                      {{ end }}
                      <div class="col-lg-3 col-md-6">
                        {{ range .Children.ByWeight }}
                          {{ $column := printf "%s" .Post }}
                          {{ if eq $column "1" }}
                          <h5 class="text-dark text-uppercase pb-2 border-bottom">{{ .Name }}</h5>
                          {{ if .HasChildren }}
                          <ul class="list-unstyled mb-3">
                            {{ range .Children.ByWeight }}
                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase"
                                href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                          </ul>
                          {{ end }}
                          {{ end }}
                        {{ end }}
                      </div>
                      <div class="col-lg-3 col-md-6">
                        {{ range .Children.ByWeight }}
                        {{ $column := printf "%s" .Post }}
                        {{ if eq $column "2" }}
                        <h5 class="text-dark text-uppercase pb-2 border-bottom">{{ .Name }}</h5>
                        {{ if .HasChildren }}
                        <ul class="list-unstyled mb-3">
                          {{ range .Children.ByWeight }}
                          <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="{{ .URL }}">{{ .Name }}</a></li>
                          {{ end }}
                        </ul>
                        {{ end }}
                        {{ end }}
                      {{ end }}
                      </div>
                      {{ if eq .URL "" }}
                      <div class="col-lg-3 col-md-6">
                        {{ range .Children }}
                        {{ $column := printf "%s" .Post }}
                        {{ if eq $column "3" }}
                        <h5 class="text-dark text-uppercase pb-2 border-bottom">{{ .Name }}</h5>
                        {{ if .HasChildren }}
                        <ul class="list-unstyled mb-3">
                          {{ range .Children.ByWeight }}
                          <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="{{ .URL }}">{{ .Name }}</a></li>
                          {{ end }}
                        </ul>
                        {{ end }}
                        {{ end }}
                      {{ end }}
                      </div>
                      <div class="col-lg-3 col-md-6">
                        {{ range .Children }}
                        {{ $column := printf "%s" .Post }}
                        {{ if eq $column "3" }}
                        <h5 class="text-dark text-uppercase pb-2 border-bottom">{{ .Name }}</h5>
                        {{ if .HasChildren }}
                        <ul class="list-unstyled mb-3">
                          {{ range .Children.ByWeight }}
                          <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="{{ .URL }}">{{ .Name }}</a></li>
                          {{ end }}
                        </ul>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                      </div>
                      {{ end }}
                    </div>
                  </li>
                </ul>
              {{ else }}
                <ul class="dropdown-menu" aria-labelledby="{{ .Name | urlize}}Dropdown">
                  {{ range .Children.ByWeight }}
                  <li><a class="dropdown-item text-uppercase border-bottom" href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              {{ end }}
            </li>
          {{ else }}
            <li class="nav-item dropdown">
              <a class="nav-link {{ $active }}" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</header>

<!-- *** NAVBAR END ***-->
