{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<!-- BANNER SECTION-->
<section class="py-5 bg-fixed bg-cover bg-center dark-overlay" style="background: url(img/fixed-background-2.jpg)">
    <div class="overlay-content">
        <div class="container py-4 text-white text-center">
            <div class="icon icon-outlined icon-lg mx-auto mb-4">
                <svg class="svg-icon text-white svg-icon-lg">
                    <use xlink:href="#numbers-1"> </use>
                </svg>
            </div>
            <h2 class="text-uppercase mb-3">{{ .Site.Params.see_more.title | markdownify }}</h2>
                <p class="lead mb-4">{{ .Site.Params.see_more.subtitle | markdownify }}</p>
                {{ with .Site.Params.see_more.link_url }}
                <a class="btn btn-outline-light btn-lg" href="{{ . }}">
                {{ end }}
                    {{ with .Site.Params.see_more.link_text }}
                    {{ . | markdownify }}
                    {{ end }}
                {{ with .Site.Params.see_more.link_url }}
                </a>
                {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
