{{ if .Site.Params.topbar.enable }}
<!-- Top bar-->
<div class="top-bar py-2" id="topBar" style="background: #555">
  <div class="container px-lg-0 text-light py-1">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 d-md-block d-none">
        <p class="mb-0 text-xs">{{ .Site.Params.topbar.text | safeHTML }}</p>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-md-end justify-content-between">
          <ul class="list-inline mb-0 ms-lg-4">
            {{ range .Site.Menus.topbar.ByWeight }}
            <li class="list-inline-item text-gray-600 m-0"><a class="text-xs social-link-hover" href="{{ .URL | safeURL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top bar end-->
{{ end }}
